.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.book-css {
    margin-left: 20px;
    margin-top:20px;
}
.center {
    position: absolute;
    width: 60%;
    height: 50px;
    top: 40%;
    left: 45%;
    margin-top: -25px;
    margin-left: -50px;
}